{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'flux/home.css' %}">
    <h2>Flux</h2>


     <div class="home-container">
         <div class="home-request">
            <a href="{% url 'ticket' %}">Créer un ticket</a>
            <a href="{% url 'ticket_review' %}">Créer une critique</a>
        </div>
        {% for ticket in tickets %}
            <div class="post">
                <time>{{ ticket.data_created }}</time>
                <h3>{{ ticket.title }}</h3>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
                {% endif %}
            </div>
            {% if ticket.reviews.all %}
                {% for review in ticket.reviews.all %}
                   <div class="post">
                       <time>{{ review.time_created }}</time>
                        <h3>{{ review.headline }}</h3>
                        <p>{{ review.body }}</p>
                   </div>
                {% endfor %}
            {% endif  %}
        {% endfor %}
    </div>
{% endblock content %}
