{% extends 'base.html' %}

{% block content %}
    <section class="authentication-page">
        <div>
            <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
        </div>
        <div>
            <p>{{ message }}</p>
            <p>Connectez-vous</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </section>
{% endblock content %}