{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'authentication/login.css' %}">
        <div class="login-div">
                <p id="message">{{ message }}</p>
                <h2>Connectez-vous</h2>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button class="button" type="submit">Se connecter</button>
                </form>
            <p id="inscription-text">Pas encore membre ?</p> <a title="Lien vers le formulaire d'inscription" href="{% url 'signup' %}">Inscrivez-vous maintenant !</a>
        </div>
{% endblock content %}