{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'authentication/login.css' %}">
        <div>
            <p id="message">{{ message }}</p>
            <p class="connect-title">Connectez-vous</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Se connecter</button>
            </form>
        </div>
        <div>
            <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
        </div>
{% endblock content %}