{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'authentication/photo.css' %}">
  <div class="header-div">
      <h2>Charger une photo de profil</h2>
      <a href="{% url 'home' %}" class="button-back">Retour</a>
  </div>
   <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >Publier</button>
        </form>
   </div>
{% endblock content %}
