{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'authentication/photo.css' %}">
  <div class="header-div">
      <h2 id="upload_photo">Charger une photo</h2>
      <a href="{% url 'home' %}" class="button" id="button-back">Retour</a>
  </div>
   <div class="home-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit" >Publier</button>
        </form>
   </div>
{% endblock content %}
