
.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

input[type='text'], input[type='password'], button {
    width: 80%;
    padding: 5 5;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 0.7em;
    margin: 10 10;
}

.connect-title {
    margin-bottom: 20;
    font-weight: bold;
    font-size: 1.2em;
}

#message {
    font-size: 1em;
    color: red;
}

a {
    color: #1d3030;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#inscription-text {
    font-weight: bold;
    font-size: 1.1em;
}


/* ------------ Styles pour les Tablettes (écrans >= 768px) ------------ */
@media only screen and (min-width: 769px) {
    input[type='text'], input[type='password'], button {
        width: 100%;
        padding: 10 10;

    }

}
