
input[type="file"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 0.6em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form p {
    font-size: 0.8em;
}


#button-back {
    position: absolute;
    left: 20px;
}

#upload_photo {
    margin-top: 20px;
}


/* ------------ Styles pour les Tablettes (écrans >= 768px) ------------ */
@media only screen and (min-width: 768px) {
    input[type="file"] {
        font-size: 0.8em;
    }

    form p {
        font-size: 1em;
    }
}