
#button-critique-request {
    font-size: 0.6em;
}

#button-critique-create {
    font-size: 0.6em;
}

#button-delete-ticket {
    position: absolute;
    right: 5px;
    bottom: 7px;
}

#button-modify-ticket {
   position: absolute;
   right: 65px;
   bottom: 7px;
}

#button-delete-review {
    position: absolute;
    right: 5px;
    bottom: 7px;
}

#button-modify-review {
   position: absolute;
   right: 65px;
   bottom: 7px;
}

#button-critique-create-bis1 {
   position: absolute;
   right: 5px;
   bottom: 7px;
}

#button-critique-create-bis2 {
   position: absolute;
   right: 5px;
   bottom: 7px;
   margin-bottom: 30px;
}


/* ------------ Styles pour les Tablettes (écrans >= 768px) ------------ */
@media only screen and (min-width: 768px) {
    #button-delete-ticket {
        right: 10px;
        bottom: 10px;
    }

    #button-modify-ticket {
       right: 100px;
       bottom: 10px;
    }

     #button-delete-review {
        right: 10px;
        bottom: 10px;
    }

    #button-critique-create-bis1 {
        right: 10px;
        bottom: 10px;
    }

    #button-critique-create-bis2 {
        right: 10px;
        bottom: 10px;
    }

    #button-modify-review {
       right: 100px;
       bottom: 10px;
    }

    #button-critique-request {
        font-size: 1em;
    }

    #button-critique-create {
        font-size: 1em;
    }

}

/* ------------ Styles pour les ordinateurs (écrans >= 1024px) -------------- */
  @media only screen and (min-width: 1025px) {

}
