body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-request {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px;
}

.home-request a {
    padding: 6px 30px;
    font-size: 16px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1d3030;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.post {
    position: relative;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0px;
}


.post h3 {
    color: #1d3030;
    font-size: 1.4em;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.post p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.post img {
    width: 180px;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}

.post a {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px 10px;
    font-size: 14px;
}


h2, .post {
    margin-bottom : 20px;
}

time {
    font-size: 0.8em;
    color: #95a5a6;
    margin-bottom: 10px;
    display: block;
    margin-top: 20px;

}


#button-modify-review {
   bottom: 20px;
   right: 20px;
}

#button-delete-review {
   bottom: 20px;
   right: 100px;
}

#button-delete-ticket {
   bottom: 20px;
   right: 100px;
}

#button-modify-ticket {
   bottom: 20px;
   right: 20px;
}

.review-body {
    width: 80%;
    font-size: 15px;
}

.header-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

.header-div h2 {
    margin: 0;
    font-size: 24px;
    color: #1d3030;
}

.button-back {
    position: absolute;
    left: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: #1d3030;
    color: #ffffe6;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 15px;
    cursor: pointer;
}

.button-back:hover {
    background-color:  #ffffe6;
    color: #1d3030;
}