{% extends 'base.html' %}

{% block content %}
    <h2>Vos abonnements</h2>
    <!-- Afficher des messages de succèss ou d'erreurs -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Séction pour afficher les abonnements -->
    <h3>Abonnements</h3>
        {% for follow in user.following.all %}
            {{ follow.followed_user.username }}
        {% empty %}
            <p>Vous ne suivez encore personne !</p>
        {% endfor %}

    <!-- Séction pour afficher les abonnés -->
    <h3>Abonnés</h3>
    {% for follower in user.followers.all %}
        {{ follower.user.username }}
    {% empty %}
        <p>Vous n'avez pas encore d'abonnés !</p>
    {% endfor %}

{% endblock content %}
