{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'subscriptions/subscriptions.css' %}">
    <h2>Vos abonnements</h2>
    <!-- Afficher des messages de succèss ou d'erreurs -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Séction pour afficher les abonnements -->
    <h3>Abonnements</h3>
        <ul>
            {% for follow in user.following.all %}
                <li>{{ follow.followed_user.username }}</li>
            {% empty %}
                <p>Vous ne suivez encore personne !</p>
            {% endfor %}
        </ul>

    <!-- Séction pour afficher les abonnés -->
    <h3>Abonnés</h3>
    <ul>
        {% for follower in user.followers.all %}
            <li>{{ follower.user.username }}</li>
        {% empty %}
            <p>Vous n'avez pas encore d'abonnés !</p>
        {% endfor %}
    </ul>

{% endblock content %}
