html {
    font-family: Arial, sans-serif;
}

a.logo {
    font-weight: bold;
    font-size: 30px;
}

.avatar {
    max-width: 100%;
    height: auto;
     margin-bottom: 50px;
}

.sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d3030;
    color:  #ffffe6;
    overflow-x: hidden;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar p {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.sidebar a {
   text-decoration: none;
   color: #ffffe6;
}

.sidebar a:hover {
   color: #1d3030;
   background-color: #ffffe6;
}
/* Style page content */
.main {
    margin-left: 240px;
    padding: 20px;
    height: auto;
}