html {
    font-family: Arial;
}


.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d3030;
    color:  #ffffe6;
    overflow-x: hidden;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar p {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.sidebar a {
   text-decoration: none;
   color: #ffffe6;
}

.sidebar a:hover {
   color: #1d3030;
   background-color: #ffffe6;
}

#logo {
    display: block;
    margin: auto;
    bottom: 0px;
    width: 50px:
    height: auto;
}

/* Style page content */
.main {
    margin-left: 240px;
    padding: 20px;
    height: auto;
}

h2 {
    font-size: 25px;
    padding-bottom: 30px;
    text-align: center;

}

form {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form p {
   margin-bottom: 50px;

}

label {
    font-weight: bold;
    color: #555;
}



button[type='submit'] {
    background-color: #1d3030;
    color: #ffffe6;
    font-size: 16px;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button[type='submit']:hover {
   background-color: #2a4747;
   color: white;
}


input[type='text'], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}


