{% load static %}

<html lang="fr">
    <hear>
        <title>LITReview</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </hear>
    <body>
        <div class="sidebar">
            {% if user.is_authenticated %}
                <p><a class="logo" href="{% url 'home' %}">LitReview</a></p>
            {% else %}
                <p><a class="logo" href="{% url 'login' %}">LitReview</a></p>
            {% endif %}
            {% if user.is_authenticated %}
                <p>Salut, {{ user }} </p>
                {% if user.profile_photo %}
                    <img class="avatar" src={{ user.profile_photo.url }}>
                {% else %}
                    <img class="avatar" src="{% static 'images/LitReview.png' %}">
                {% endif %}
                <div class="menu">
                    <p><a href="{% url 'home' %}">Accueil</a></p>
                    <p><a href="{% url 'upload_profile_photo' %}">Photo de profil</a></p>
                    <p><a href="{% url 'posts' %}">Mes posts</a></p>
                    <p><a href="{% url 'following' %}">Abonnements</a></p>
                    <p><a href="{% url 'logout' %}">Se déconnecté</a></p>
                </div>
            <!--/*<img id="logo" src="{% static 'images/LitReview.png' %}" alt="">*/ -->
            {% endif %}

        </div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>