{% load static %}

<html lang="fr">
    <hear>
        <title>LITReview</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </hear>
    <body>
        <div class="container">
            <div class="sidebar">
                <div>
                    {% if user.is_authenticated %}
                        <h1><a class="logo" href="{% url 'home' %}">LitReview</a></h1>
                    {% else %}
                        <h1><a class="logo" href="{% url 'login' %}">LitReview</a></h1>
                    {% endif %}
                </div>
                <div>
                    {% if user.is_authenticated %}
                        <p class="username">Salut, {{ user }} </p>
                        {% if user.profile_photo %}
                            <img class="avatar" src={{ user.profile_photo.url }}>
                        {% else %}
                            <img class="avatar" src="{% static 'images/LitReview.png' %}">
                        {% endif %}
                        <div class="menu">
                            <p><a href="{% url 'home' %}">Accueil</a></p>
                            <p><a href="{% url 'upload_profile_photo' %}">Photo de profil</a></p>
                            <p><a href="{% url 'posts' %}">Mes posts</a></p>
                            <p><a href="{% url 'following' %}">Abonnements</a></p>
                        </div>

                        <div class="contact">
                            <p><a href="">Contactez-nous</a></p>
                            <p><a href="{% url 'logout' %}">Se déconnecté</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="main">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </body>
</html>