.subscriptions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 100%
}

#search-form {
    position: relative;
    padding-left: 20%;
    padding-top: 20;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 5;
}

#add-button {
    margin-top: 20px;
}

ul {
    min-width: 80%;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}

ul li:last-child {
    border-bottom: none;
}

.subscription-item {
    display: flex;
    justify-content: space-between;
}

/* ------------ Styles pour les Tablettes (écrans >= 768px) ------------ */
@media only screen and (min-width: 769px) {
    input[type="text"] {
        padding: 15;
    }
}


