{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'posts/home.css' %}">
    <h2>Flux</h2>

    <div class="home-container">
        <div class="home-request">
            <a class="button" href="{% url 'ticket' %}">Demander une critique</a>
            <a class="button" href="{% url 'ticket_review' %}">Créer une critique</a>
        </div>

        {% for ticket in tickets %}
            <div class="post">
                {% if request.user.username == ticket.uploader.username %}
                    <time>{{ ticket.date_created }} - Vous avez publié un ticket</time>
                {% else %}
                    <time>{{ ticket.date_created }} - {{ ticket.uploader.username }} a publié un ticket</time>
                {% endif %}

                <h3>{{ ticket.title }}</h3>
                <p>{{ ticket.description }}</p>

                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
                {% endif %}

                {% if ticket.reviews.exists %}
                    {% for review in ticket.reviews.all %}
                        {% if request.user.username == review.user.username %}
                            <time>{{ review.date_created }} - Vous avez publié une critique</time>
                        {% else %}
                            <time>{{ review.date_created }} - {{ review.user.username }} a publié une critique</time>
                        {% endif %}

                        <h3>{{ review.headline }} - {{ review.rating }}</h3>
                        <p class="review-body">{{ review.body }}</p>

                        {% if review.user == request.user %}
                            <div class="button-container">
                                <a class="button" id="button-delete-review" href="{% url 'review_delete' review.id %}">Supprimer</a>
                                <a class="button" id="button-modify-review" href="{% url 'review_update' review.id %}">Modifier</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if not ticket.user_has_reviewed %}
                        <a class="button" href="{% url 'review' ticket.id %}">Créer une critique</a>
                    {% endif %}
                {% else %}
                    {% if ticket.uploader == request.user %}
                        <div class="button-container">
                            <a class="button" id="button-delete-ticket" href="{% url 'ticket_delete' ticket.id %}">Supprimer</a>
                            <a class="button" id="button-modify-ticket" href="{% url 'ticket_update' ticket.id %}">Modifier</a>
                        </div>
                    {% else %}
                        <a class="button" href="{% url 'review' ticket.id %}">Créer une critique</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
