{% extends 'base.html' %}

{% block content %}
    <h2>Vos posts</h2>
    {% for ticket in tickets %}
        <p>{{ ticket.data_created }}</p>
        <h3>{{ ticket.title }}</h3>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
        {% endif %}
    {% endfor %}
     {% for review in reviews %}
        <p>{{ review.time_created }}</p>
        <h3>{{ review.headline }}</h3>
        <p>{{ review.body }}</p>
    {% endfor %}
{% endblock content %}
