{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/posts.css' %}">
    <h2>Vos posts</h2>
    <div class="posts-container">
        {% for ticket in tickets %}
            <div class="post">
               {% if request.user.username == ticket.uploader.username %}
                    <time>{{ ticket.date_created }} - Vous avez publié un ticket</time>
                {% else %}
                    <time>{{ ticket.date_created }} - {{ ticket.uploader.username }} a publié un ticket</time>
                {% endif %}
                <h3>{{ ticket.title }}</h3>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
                {% endif %}
            </div>
        {% endfor %}

        <div class="post">
            {% for review in reviews %}
                <time>{{ review.date_created }} - Vous avez publié une critique</time>
                <h3>{{ review.headline }}</h3>
                <p>{{ review.body }}</p>
                <h3>{{ review.ticket.title }}</h3>
                {% if review.ticket.image %}
                    <img src="{{ review.ticket.image.url }}" alt="{{ ticket.title }}">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
